html, body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card {
    border: none;
    background-color: transparent;
}

.card-title {
    font-size: 60px;
}

.card-text {
    font-size: 20px;
}

#background {
    background-image: url("./PokeAssets/Pika Background.jpeg");
    position: relative;
    background-size: cover;
}

.list-group-item {
    background-color: transparent;
}


body {
    
    text-align: center;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
}