html, body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: none;
}

#background {
    background-image: url("./PokeAssets/Pika Background.jpeg");
    position: relative;
    background-size: cover;
}

body {
    
    text-align: center;
    align-items: center;
    justify-content: center;
}